bin
bin/Debug
obj/Debug
.vs
obj/Debug/netcoreapp3.1/Arduistats.assets.cache
obj/Debug/netcoreapp3.1/Arduistats.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Arduistats.assets.cache
obj/Debug/netcoreapp3.1/Arduistats.assets.cache
obj/Debug/netcoreapp3.1/Arduistats.csproj.FileListAbsolute.txt
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/Arduistats.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Arduistats.assets.cache
obj/Debug/netcoreapp3.1/Arduistats.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Arduistats.csproj.FileListAbsolute.txt
